# Default ignored files
/shelf/
/.idea/
# Datasource local storage ignored files
/../../../../../:\study road\MyCode\springcloud\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/

target/